{% extends "PlantillaHeaderFooter.html"%}

{% block contenido %}
<h1>Detalles del empleado</h1>
<table class="tabladetalles">
    <thead>
    <tr>
        <td>#ID</td>
        <td>DNI</td>
        <td>NOMBRE</td>
        <td>APELLIDO</td>
        <td>EMAIL</td>
        <td>TELEFONO</td>
        <td>RESPONSABLE</td>

    </tr>
    </thead>
    <tr>
        <td>{{Datos.id}}</td>
        <td>{{Datos.DNI}}</td>
        <td>{{Datos.nombre}}</td>
        <td>{{Datos.apellido}}</td>
        <td>{{Datos.email}}</td>
        <td>{{Datos.telefono}}</td>
        <td>{{Datos.responsable}}</td>

    </tr>
</table>
<form action="{%url 'eliminarempleado'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="idEmpleado" value="{{Datos.id}}">
    <input type="image" class="eliminar"  title="Eliminar empleado de la lista"
        src="/static/Imagenes/delete.png" width="50" height="50" value="Eliminar">
</form>
{% endblock %}