{% extends "PlantillaHeaderFooter.html"%}


{% block contenido %}
<h1>Detalles del equipo</h1>
<table class="tabladetalles">
    <thead>
    <tr>
        <td>#ID</td>
        <td>MARCA</td>
        <td>MODELO</td>
        <td>CATEGORIA</td>
        <td>FECHA DE ADQUISICION</td>
        <td>FECHA DE INSTALACION</td>

    </tr>
    </thead>
    <tr>
        <td>{{Datos.id}}</td>
        <td>{{Datos.marca}}</td>
        <td>{{Datos.modelo}}</td>
        <td>{{Datos.categoria}}</td>
        <td>{{Datos.fecha_adquisicion}}</td>
        <td>{{Datos.fecha_instalacion}}</td>
    </tr>
</table>

<form action="{%url 'eliminarequipo'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="idEquipo" value="{{Datos.id}}">
    <input type="image" class="eliminar"  title="Eliminar equipo de la lista"
        src="/static/Imagenes/delete.png" width="50" height="50" value="Eliminar">
</form>

<form action="{%url 'updateequipo' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="idEquipo" value="{{Datos.id}}">
    <input type="image" class="imagenmodificar"  title="Modificar equipo de la lista"
        src="/static/Imagenes/editar.png" width="50" height="50" value="Update">
</form>

{% endblock %}