
{% extends "PlantillaHeaderFooter.html"%}
{% block contenido %}
<form action="{% url 'postformularioempleado' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Datos del empleado</legend>
        <label>Nombre</label> <input type="text" name="nombre"></br>
        <label>Apellido</label> <input type="text" name="apellido"></br>
        <label>Email</label> <input type="text" name="email"></br>
        <label>DNI</label> <input type="text" name="DNI"></br>
        <label>Telefono</label> <input type="number" name="telefono"></br>
        </br>
        <input type="submit" value="ENVIAR">
    </fieldset>
</form>
{% endblock %}
