{% load static%}
<html class="fondo" lang="en">
<head>
    <meta charset="UTF-8">
    <title>App para la Gestión de la producción</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="/static/Imagenes/tuercabien.ico" type="image/x-icon">
</head>
<body class="bodylogin">
    <div>
        <img class="imagenlogin" src="/static/Imagenes/Deustubular.png" alt="Logo de Deustubular">
        <fieldset class="fieldsetlogin">
            <h1 id="leyenda">Iniciar sesión</h1>
        {% block contenido %} {% endblock %}
        </fieldset>
    </div>
</body>
</html>