{% load static%}
<html class="fondo" lang="en">
<head>
    <meta charset="UTF-8">
    <title>App para la Gestión de la producción</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="/static/Imagenes/tuercabien.ico" type="image/x-icon">
</head>
<body class="bodylogin">
<div>
    <img class="imagenlogin" src="/static/Imagenes/Deustubular.png" alt="Logo de Deustubular">
    <!--<fieldset class="fieldsetlogin">
        <h1 id="leyenda">INICIAR SESIÓN</h1></br>
    {% block contenido %}
        <a class="enlaceresp" href="/appGestion_de_la_produccion/responsable/">
            <img class="botonresp" src="/static/Imagenes/responsable boton.png" width="150" height="75"> </a> <a class="enlaceope" href="/appGestion_de_la_produccion/operario/">
        <img class="botonope" src="/static/Imagenes/operario boton.png" width="150" height="75"> </a>-->

    <div id="iniciosesiondiv">
        <h2 class="iniciosesiontitulo">LOGIN</h2>
        <form class="iniciosesion" action="{% url 'do_login' %}" method="post">
            {% csrf_token %}
            {{ login.as_p }}
            <input id="iniciosesionboton" type="submit" value="INICIAR SESION">
            {%if LoginMessage %}
            <div>{{LoginMessage}}</div>
            {% endif %}
        </form>

        <h2 class="iniciosesiontitulo">REGISTRARSE</h2>
        <form class="iniciosesion" action="{%url 'do_register'%}" method="POST">
            {%csrf_token%}
            <label>Usuario: </label><input type="text" name="username"/> <br/>
            <label>Contraseña: </label><input type="password" name="password2"/> <br/>
            <label>Repite la contraseña: </label><input type="password" name="password1"/> <br/>
            <input id="registrarseboton" type="submit" value="REGISTRARSE"/>
            {{form.errors}} {%if RegisterMessage %}
            <div>{{RegisterMessage}}</div>
            {% endif %}
        </form>
    </div>
    {% endblock %}
    <!--        </fieldset>-->
</div>
</body>
</html>