{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App para la Gestión de la producción</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="/static/Imagenes/tuercabien.ico" type="image/x-icon">
</head>
<body>
<header>
    <nav id="navgrande">
        <a class="enlaceaicono" href="/appGestion_de_la_produccion/responsable/" title="Volver a inicio"> <img
                src="/static/Imagenes/Deustubular.png" width="80" height="60"></a>
        <a class="header" href="/appGestion_de_la_produccion/responsable/">Vista general</a>
        <a class="header" href="/appGestion_de_la_produccion/responsable/equipo/">Equipo</a>
        <a class="header" href="/appGestion_de_la_produccion/responsable/proceso/">Proceso</a>
        <a class="header" href="/appGestion_de_la_produccion/responsable/empleado/">Empleado</a>

    </nav>
</header>
{% block contenido %} {% endblock %}
<footer>
    <a class="enlacesfooter" href="https://twitter.com" target="_blank" title="Síguenos en twitter"> <img
            src="/static/Imagenes/twitter.png" width="30" height="30"></a>
    <a class="enlacesfooter" href="https://www.youtube.com" target="_blank"
       title="No olvides visitar nuestro canal de you tube"> <img src="/static/Imagenes/youtube.png" width="30" height="30"></a>
    <a class="enlacesfooter" href="https://www.linkedin.com" target="_blank" title="También estamos en LinkedIn"> <img
            src="/static/Imagenes/linkedin.png" width="30" height="30"></a>
    <a class="enlacesfooter" href="https://www.facebook.com" target="_blank" title="Dale like en facebook"> <img
            src="/static/Imagenes/facebook.png" width="30" height="30"></a>
    <p class="textofooter">© DEUSTUBULAR S.L. Todos los derechos reservados.</p>
</footer>
</body>
</html>