{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App para la Gestión de la producción</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="/static/Imagenes/tuercabien.ico" type="image/x-icon">
</head>
<body>
<header>
    <nav class = "header_operario">
        <img src="/static/Imagenes/Deustubular.png" width="110" height="100">
    </nav>
</header>
{% block contenido %} {% endblock %}
<footer>
    <a class="enlacesfooter" href="https://twitter.com" target="_blank" title="Síguenos en twitter"> <img
            src="/static/Imagenes/twitter.png" width="30" height="30"></a>
    <a class="enlacesfooter" href="https://www.youtube.com" target="_blank"
       title="No olvides visitar nuestro canal de you tube"> <img src="/static/Imagenes/youtube.png" width="30" height="30"></a>
    <a class="enlacesfooter" href="https://www.linkedin.com" target="_blank" title="También estamos en LinkedIn"> <img
            src="/static/Imagenes/linkedin.png" width="30" height="30"></a>
    <a class="enlacesfooter" href="https://www.facebook.com" target="_blank" title="Dale like en facebook"> <img
            src="/static/Imagenes/facebook.png" width="30" height="30"></a>
    <p class="textofooter">© DEUSTUBULAR S.L. Todos los derechos reservados.</p>
</footer>
</body>
</html>