{% extends "PlantillaHeaderFooter.html"%}

{% block contenido %}
<h1>Update de equipo</h1>
<form action="{% url 'postequipoformupdate' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Datos del Equipo</legend>
        <input type="hidden" name="equipo_id" value="{{Datos.id}}">
        <label>Modelo</label> <input type="text" name="modelo" value="{{Datos.modelo}}"></br>
        <label>Marca</label> <input type="text" name="marca" value="{{Datos.marca}}"></br>
        <label>Categoria</label> <input type="text" name="categoria" value="{{Datos.categoria}}"></br>
        <label>Fecha de adquisicion</label> <input type="date" name="fecha_adquisicion" value="{{Datos.fecha_adquisicion}}"></br>
        <label>Fecha de instalacion</label> <input type="date" name="fecha_instalacion" value="{{Datos.fecha_instalacion}}"></br>
        <input type="submit" value="ENVIAR">
    </fieldset>
</form>
{% endblock %}