{% extends "PlantillaHeaderFooter.html"%}

{% block contenido %}
<h1>Update de equipo</h1>
<form action="{% url 'postprocesoformupdate' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Datos del Proceso</legend>
        <input type="hidden" name="proceso_id" value="{{Datos.id}}">
        <label>Codigo de la orden</label> <input type="text" name="codigo_orden" value="{{Datos.codigo_orden}}"></br>
        <label>Codigo de proceso</label> <input type="text" name="codigo_proceso" value="{{Datos.codigo_proceso}}"></br>
        <label>Nombre del proceso</label> <input type="text" name="nombre_proceso" value="{{Datos.nombre_proceso}}"></br>
        <label>Referencia</label> <input type="text" name="referencia" value="{{Datos.referencia}}"></br>
        <label>Inicio</label> <input type="date" name="inicio" value="{{Datos.inicio}}"></br>
        <label>Fin</label> <input type="date" name="fin" value="{{Datos.fin}}"></br>
        <input type="submit" value="ENVIAR">
    </fieldset>
</form>
{% endblock %}