{% extends "PlantillaOperario.html"%}

{% block contenido %}
<h1>Update de proceso</h1>
<form action="{% url 'postprocesoformupdateoperario' %}" method="post">
       {% csrf_token %}
    <fieldset>
        <legend>Datos del Proceso</legend>
        <input type="hidden" name="proceso_id" value="{{Datos.id}}">
        <label>Codigo de la orden</label>
        <table>
            <tr>
                <td>{{ Datos.codigo_orden }}</td>
            </tr>
        </table>
        <input type="hidden" name="codigo_orden" value="{{Datos.codigo_orden}}">
        <label>Codigo de proceso</label>
        <table>
            <tr>
                <td>{{ Datos.codigo_proceso }}</td>
            </tr>
        </table>
        <input type="hidden" name="codigo_proceso" value="{{Datos.codigo_proceso}}">
        <label>Nombre del proceso</label>
        <table>
            <tr>
                <td>{{ Datos.nombre_proceso }}</td>
            </tr>
        </table>
        <input type="hidden" name="nombre_proceso" value="{{Datos.nombre_proceso}}">
        <label>Referencia</label>
        <table>
            <tr>
                <td>{{ Datos.referencia }}</td>
            </tr>
        </table>
        <input type="hidden" name="referencia" value="{{Datos.referencia}}">
        <label>Inicio</label> <input type="date" name="inicio" value="{{Datos.inicio|date:'yy-m-d'}}">
        <label>Fin</label> <input type="date" name="fin" value="{{Datos.fin|date:'yy-m-d'}}">
        </br>
        <label>Empleados asignados</label>
        {% for ea in Datos.empleados_asignados.all %}
        <input type="hidden" name="empleados_asignados" value="{{ea.id}}">
        {% endfor %}
        <table>
            <tr>
                <td>{% for ea in Datos.empleados_asignados.all %}
                    {{ea.nombre}} {{ea.apellido}} </br>
                    {% endfor %}</td>
            </tr>
        </table>

        <label>Equipo</label>

        <input type="hidden" name="equipo" value="{{Datos.equipo.id}}">

        <table>
            <tr>
                <td>{{ Datos.equipo.marca }} - {{ Datos.equipo.modelo }}</td>
            </tr>
        </table>
    </br>
        <input type="submit" value="ENVIAR">
    </fieldset>
</form>
{% endblock %}